<div class="jumbotron">

  <div class="remote-btn-row">
    <button type="button" ng-click="inputButton('Back')" class="remote-btn btn btn-default">
      <i class="fa fa-reply"></i>
    </button>
    <button type="button" ng-click="inputButton('Up')" class="remote-btn btn btn-primary">
      <i class="fa fa-arrow-up"></i>
    </button>
    <button type="button" ng-click="inputButton('Home')" class="remote-btn btn btn-default">
      <i class="fa fa-home"></i>
    </button>
  </div>

  <div class="remote-btn-row">
    <button type="button" ng-click="inputButton('Left')" class="remote-btn btn btn-primary">
      <i class="fa fa-arrow-left"></i>
    </button>
    <button type="button" ng-click="inputButton('Select')" class="remote-btn btn btn-success">
      <i class="fa fa-check"></i>
    </button>
    <button type="button" ng-click="inputButton('Right')" class="remote-btn btn btn-primary">
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>

  <div class="remote-btn-row">
    <button type="button" ng-click="volumeDownButton()" class="remote-btn btn btn-default">
      <i class="fa fa-volume-down"></i>
    </button>
    <button type="button" ng-click="inputButton('Down')" class="remote-btn btn btn-primary">
      <i class="fa fa-arrow-down"></i>
    </button>
    <button type="button" ng-click="volumeUpButton()" class="remote-btn btn btn-default">
      <i class="fa fa-volume-up"></i>
    </button>
  </div>

  <div class="remote-btn-actions-row">
    <button type="button" ng-click="inputButton('ContextMenu')" class="remote-btn btn btn-default">
      <i class="fa fa-bars"></i>
    </button>
    <button type="button" class="remote-btn btn btn-danger">
      <i class="fa fa-power-off"></i>
    </button>
    <button type="button" ng-click="inputButton('Info')" class="remote-btn btn btn-default">
      <i class="fa fa-info-circle"></i>
    </button>
  </div>
</div>

<div ng-if="player != null" class="player">
  <div class="player-buttons">
    <button type="button" class="btn btn-default btn-lg" ng-click="previousButton(player.playerid)"><i class="fa fa-fast-backward"></i></button>
    <button type="button" class="btn btn-default btn-lg" ng-click="backwardButton(player.playerid, playedItem.speed)"><i class="fa fa-backward"></i></button>
    <button type="button" class="btn btn-default btn-lg" ng-click="playPauseButton(player.playerid)">
      <i ng-if="playedItem.speed != 1" class="fa fa-play"></i>
      <i ng-if="playedItem.speed == 1" class="fa fa-pause"></i>
    </button>
    <button type="button" class="btn btn-default btn-lg" ng-click="stopButton(player.playerid)"><i class="fa fa-stop"></i></button>
    <button type="button" class="btn btn-default btn-lg" ng-click="forwardButton(player.playerid, playedItem.speed)"><i class="fa fa-forward"></i></button>
    <button type="button" class="btn btn-default btn-lg" ng-click="nextButton(player.playerid)"><i class="fa fa-fast-forward"></i></button>
  </div>

  <p class="lead audio-player" ng-if="player.type == 'audio'">
    <i class="fa fa-music"></i>
    {{ playedItem.label }}
  </p>
  <p class="video-player" ng-if="player.type == 'video'">
    <i ng-if="player.type == 'video'" class="fa fa-film"></i>
    {{ playedItem.label }}
  </p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ playedItem.percentage }}%;">
      {{ playedItem.time }} / {{ playedItem.totalTime }}
    </div>
  </div>
</div>
