<h2>Remote Control</h2>
<div class="jumbotron">
  <button type="button" class="btn btn-default"><i class="fa fa-reply"/></button>
  <button type="button" ng-click="up()" class="btn btn-primary"><i class="fa fa-arrow-up"/></button>
  <button type="button" class="btn btn-default"><i class="fa fa-home"/></button>
  <br />
  <button type="button" ng-click="left()" class="btn btn-primary"><i class="fa fa-arrow-left"/></button>
  <button type="button" ng-click="down()" class="btn btn-primary"><i class="fa fa-arrow-down"/></button>
  <button type="button" ng-click="right()" class="btn btn-primary"><i class="fa fa-arrow-right"/></button>
</div>
