/* exported config */
'use strict';

var configValues = {
  KODI_URL: '192.168.0.1', // IP or URL to your Kodi instance
  SOCKET_TIMEOUT: 200, // Timeout limit for socket connection. Increase if necessary
  PER_PAGE: 100, // Number of elements to load per page in libraries when scrolling
  DEBUG: false // Set to true to see console log debug messages
};

var config = angular.module('kodiConfig', []);

for (var key in configValues) {
  config.constant(key, configValues[key]);
}
